body {
background-color: #D7DFE2;
margin:0px;
padding:0px;
font: 10px  verdana, arial, helvetica;
color: #416271;
}

/*----------------------menu---*/
#menu{
width:800px;
height:42px;
padding:0px;
clear:both;
background-color:#0099CC; /*#416271;*/
}
